*{
	box-sizing : border-box;
}

.sidebar{
	height : 100vh;
	background-color : black;
	padding: 0;
	border:none;
	display : flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.content{
	height : 100vh;	
	display : flex;
	flex-direction : column;
	float : right;
	overflow-y:scroll;



}


.logo{
	height : 50vh;
	background-image : url(img/Gushi.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;	
	background-color:black;
	background-origin: content-box;
	

}

.logo_menu{
	
	background-color:black;
	color: white;
	text-align: center;
	padding : 0;
	margin : none; 	 	
	height: 50%;
	display : flex;
	flex-direction: column;
	justify-content: stretch;
}


.opening_hours{	
	background-color: rgba(255, 48, 48, 0.6);	
	font-size:1.5vw;
	height: 10%;
	
}

.hours {
	background-color : rgba(56, 56, 56, 0.59);
	height: 38%;
	font-size:1.5vw;;
}

.catering { 
	background-color: rgba(96, 124, 214, 0.42);
	font-size:1.5vw;
	height: 26%
}

.address{
	background-color:rgba(238, 166, 75, 0.43);
	height: 26%;
	font-size:1.5vw;
}

.nav_bar{
	background-color :rgba(255, 194, 103, 1);
	padding-top:20px;
	width : 100%;
	

}

.nomargin{
	margin : 0!important;
	padding : 0!important;
}

button{
	background-color:  white;
	border:none;
	font-weight :bold;
	font-size : 2rem;
	padding-left:45px;
	padding-right:45px;
		
	
}	

.faq{
	margin-left:0;
	margin-right :0;
}

.menu{
	display : flex;
	width : 100%;
	padding: 2.5%;
	flex-wrap : wrap;
	justify-content: space-evenly;

	 	
}

.menu_item{
	background-color:rgb(244, 244, 244);
	margin : 2.5%;	
	min-width : 27%;
	border-radius : 3%;

}

.item_head{
	height : 50px;
	border-bottom : 4px solid #E7653C;

}

.head1{
	color :white;
	background-color: #3A3A3A;
	width : 40%;
	float : left;
	text-align: left;
	padding : 5px;
	


}

.head2{
	color :white;
	background-color: #3A3A3A;
	width : 60%;
	float: left;
	padding : 5px;
	text-align: right;
	
}





.item_pic{	
	height: 280px;
	width: 100%;
}

#kalbi{
	object-fit: contain;
	background-image : url(img/KalbiPlate.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;	
}

#gushibowl{
	object-fit: contain;
	background-image : url(img/GushiBowl.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;	
}

#kimchifriedrice{
	object-fit: contain;
	background-image : url(img/KimchiFriedRice.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;	
}
#beefyakiudon{
	object-fit: contain;
	background-image : url(img/BeefYakiUdon.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;	
}
#bibimbap{
	object-fit: contain;
	background-image : url(img/BiBimBap.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;	
}
#japchae{
	object-fit: contain;
	background-image : url(img/JapChae.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;	
}
.price{
	line-height: 2;
}
table{
	border-radius : 15px;

}	

@media(max-width :992px){
	.sidebar{
		height: 40vh;
		flex-direction : row;
		justify-content: flex-start;
		flex-wrap : nowrap;

	}

	.logo {
		height : 100%;
		width : 50%;
		padding : 20px;
	}

	.logo_menu{
		height: 100%;
		width : 50%;
		padding : 10px;

	}

	.content {
		overflow-y: visible;
	}

@media(max-width :564px){
	.sidebar{
		height: 40vh;
		flex-direction : column;
		justify-content: flex-start;
		flex-wrap : nowrap;

	}

	.logo {
		height : 50%;
		width : 100%;
	}

	.logo_menu{
		height: 50%;
		width : 100%;
		

	}

	.content {
		overflow-y: visible;
	}

	


}